<p class="mt-1 mb-1">
    <button class="btn btn-secondary w-100  d-flex " type="button" data-toggle="collapse" data-target="#collapseExample" 
        aria-expanded="false" aria-controls="collapseExample">
        Q1: WHAT IS MATKA GAME?
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Some People Matka Play Believes That Matka Is Game Of Luck And Some People Believes That It Is The Game Of Perfect Guess. But In My Words It Is The Game Of Both Luck And Perfect Guess. 
        Matka Was Started 60 Years Ago By Matka King Ratan Khatri. And Now It Is Popular In All The World.
    </div>
</div>

<p class="mt-1 mb-1">
    <button class="btn btn-secondary w-100 " style="text-align: left;" type="button" data-toggle="collapse" data-target="#collapseExample2"
        aria-expanded="false" aria-controls="collapseExample">
        Q2: WHAT IS MATKA PLAYING TYPES?
    </button>
</p>
<div class="collapse" id="collapseExample2">
    <div class="card card-body">
        Matka Is Played In Various Types As Single Jodi And Patti. It Is Played As In Half Sangam And Full Sangam As Well. Matka Is The Only Game Where U Can Earn Money In Very Short Time. Single Means Open Close One Digit Single Ank.Jodi Means - Both Digit Open And Close Digit Is Combined In As Jodi.Patti - When A Open Digit Or Close Digit Is Declared 
        In Matka It Is Declared By 3 Digit Called Patti. The Total Of 3 Digit Called Open And Close As Well.
    </div>
</div>

<p class="mt-1 mb-1">
    <button class="btn btn-secondary w-100 " style="text-align: left;" type="button" data-toggle="collapse" data-target="#collapseExample3"
        aria-expanded="false" aria-controls="collapseExample">
        Q3: HOW CAN WE WIN MATKA GAME ?
    </button>
</p>
<div class="collapse" id="collapseExample3">
    <div class="card card-body">
        Matka Can Be Won By Getting Perfect Guess Of Matka Professors And Dpboss. You Can Play Safely By Playing 3 Or 4 
        Digit Daily And Get These Digits From Our Website That We Publish On Our Free Game Page.
    </div>
</div>

<p class="mt-1 mb-1">
    <button class="btn btn-secondary w-100 " style="text-align: left;" type="button" data-toggle="collapse" data-target="#collapseExample4"
        aria-expanded="false" aria-controls="collapseExample">
        Q4: WHAT IS THE MATKA HISTORY ?
    </button>
</p>
<div class="collapse" id="collapseExample4">
    <div class="card card-body">
        In 1961 - 59 Years Ago Matka Was Started By Ratan Khatri.And The First Name Of Matka Was Worli Matka. And It Reached Its Peak On 1980s And 1990s. Since Then Matka Is Growing Very Fast. 
        And Its A Very Loving And Intrestin Game By Players Where U Can Win Money Also While Playing.
    </div>
</div>

<p class="mt-1 mb-1">
    <button class="btn btn-secondary w-100 " style="text-align: left;" type="button" data-toggle="collapse" data-target="#collapseExample5"
        aria-expanded="false" aria-controls="collapseExample">
        Q5: WHAT IS THE TERMINOLOGY OF MATKA?
    </button>
</p>
<div class="collapse" id="collapseExample5">
    <div class="card card-body">
        Single - Any Digit Between 0 To 9.Jodi - Any Pair Between 00 To 99.Patti - The Total Of 3 Digit In As Open And Close Is Called Patti
    </div>
</div>